- ng = ['resource', 'route', 'animate', 'cookies', 'sanitize'];
- version = '1.3.0';
- ngi18nVersion = '1.2.15';
- ngLocale = 'en-us';

doctype html
html(lang='en', ng-app='realtime')
    head

        meta(name="description", content="Group Travel")
        meta(name="keywords", content="Group Traveling")
        meta(name="author", content="Paqup")

        //angular modules
        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/#{version}/angular.min.js')

        - for s in ng
            script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular.js/#{version}/angular-#{s}.min.js')

        script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-i18n/#{ngi18nVersion}/angular-locale_#{ngLocale}.js')
        script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js')

        script(type='text/javascript', src='/app.js')

        // cloudflare
        script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap.min.js')
        script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js')
        script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js')
        script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.2.4/moment-timezone.min.js')
        script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/angular-retina/0.3.1/angular-retina.min.js')

        link(type='text/css', rel='stylesheet', href='/css/main.css')

        script(type='text/javascript', src='/js/ui.bootstrap.js')

        meta(http-equiv="X-UA-Compatible", content="IE=10")
        meta(name="format-detection", content="telephone=no")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="robots", content="all,follow")

        // link(rel="shortcut icon", href="/img/logo.png", type="image/png")
        // link(rel="icon", href="/img/logo.png", type="image/png")

        title RT Blog

        base(href='/')

    body
        div(ng-view='ng-view')
